* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

#fileCifrar{

  width: 450px;
  height: 300px;
  border: 5px white dashed;
  background-color: rgb(22, 22, 22);
  color: rgb(22, 22, 22);
  padding-left: 11rem;
  padding-top: 8rem;
  transition: 1s;

}

#fileCifrar:hover{

  background-color: white;
  color: white;
  border: 5px rgb(22, 22, 22) dashed;

}

header{

  background-color: #000;
  color: white;
  height: 5rem;
  width: 100vw;
  display: flex;

}

#fileDecifrar{

  width: 450px;
  height: 300px;
  border: 5px white dashed;
  background-color: rgb(22, 22, 22);
  color: rgb(22, 22, 22);
  padding-left: 11rem;
  padding-top: 8rem;
  transition: 1s;

}

#fileDecifrar:hover{

  background-color: white;
  color: white;
  border: 5px rgb(22, 22, 22) dashed;

}

#contenedorPrincipal{

  display: flex;

}

#contenedorCifrar{

  margin-left: 75px;
  margin-right: 100px;
  margin-top: 75px;

}

#contenedorDecifrar{

  margin-left: 50px;
  margin-top: 75px;

}

#contenedorClave{

  color: white;

}

#clave{

  border: 2px dashed white;
  background-color: rgb(22, 22, 22);
  transition: 1s;
  color: white;

}

#clave:hover{

  border: 2px dashed rgb(22, 22, 22);;
  background-color: white;
  color: #000; 

}

.accion{

  border-radius: 100%;
  width: 5rem;
  height: 5rem;

}

.salida{

  color: white;

}

.accion{

  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;

}

h2{

  margin-top: 1rem;
  color: white;
  margin-left: 60px;

}

h3{

  padding: 2rem;

}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -25%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.lines .line:nth-child(3) {
  margin-left: 25%;
}
.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}